name = "sepagian-xyz"
compatibility_date = "2025-12-29"
compatibility_flags = ["nodejs_compat", "global_fetch_strictly_public"]
"main" = "dist/_worker.js/index.js"
"$schema" = "node_modules/wrangler/config-schema.json"


[assets]
directory = "./dist"
binding = "ASSETS"

[observability]
[observability.logs]
enabled = true
head_sampling_rate = 1
invocation_logs = true
persist = true

