---
import FormattedDate from "@/components/widgets/FormattedDate.astro";
import { themeConfig } from "@/config";
import type { PostListProps } from "@/types";
import Writing from "../../../public/writing.svg"

const { posts } = Astro.props as PostListProps;
---

<h2 aria-label="Tulisan">
<Writing/>
</h2>

<ul>
  {posts.map((post) => (
      <li>
        <a href={`/${post.id}/`}>
          <div class={`post-item ${!themeConfig.date.dateOnRight ? 'date-left' : ''}`}>
            {!themeConfig.date.dateOnRight && (
              <p class="date font-features">
                <FormattedDate date={post.data.pubDate} context="list" />
              </p>
            )}
            <p class="title">{post.data.title}</p>
            {themeConfig.date.dateOnRight && (
              <div class={themeConfig.general.postListDottedDivider ? 'dotted-divider' : 'divider'} />
            )}
            {themeConfig.date.dateOnRight && (
              <p class="date font-features">
                <FormattedDate date={post.data.pubDate} context="list" />
              </p>
            )}
          </div>
        </a>
      </li>
    ))}
</ul>
<div class="placeholder"></div>

<style>
h2 {
  margin-bottom: 1.25rem;
  font-size: var(--font-size-m);
}
ul {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  display: block;
  color: var(--text-primary);
  text-decoration: none;
  transition: opacity 0.15s ease-out;
}

@media (hover: hover) and (pointer: fine) {
  ul:hover a {
    opacity: 0.4;
  }

  ul:hover a:hover {
    opacity: 1;
  }

  ul:hover a:hover .divider {
    background-color: var(--text-tertiary);
    opacity: 0.75;
  }
  ul:hover a:hover .dotted-divider {
    color: var(--text-secondary);
  }
  ul:hover a:hover .date {
    color: var(--text-secondary);
    opacity: 1;
  }
}

.post-item {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  justify-content: space-between;
  height: 2.75rem;
}

.post-item.date-left {
  justify-content: flex-start;
}

.post-item.date-left .title {
  flex: 1 1 auto;
  min-width: 0;
}

.post-item.date-left .date {
  margin-right: 0.75rem;
}

.title {
  flex-shrink: 1;
  min-width: 0;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.date {
  flex-shrink: 0;
  margin: 0;
  color: var(--text-primary);
  letter-spacing: var(--spacing-s);
  white-space: nowrap;
  opacity: 0.75;
}

.divider {
  flex: 1 1 auto;
  min-width: 3rem;
  height: 0.5px;
  margin: 0 0.25rem;
  background-color: var(--border);
}

.dotted-divider {
  flex: 1 1 3rem;
  min-width: 3rem;
  max-width: 100%;
  height: 1.675rem;
  overflow: hidden;
  color: var(--text-tertiary);
  text-align: end;
  letter-spacing: 5px;
  opacity: 0.75;
}

.dotted-divider::after {
  pointer-events: none;
  content: "·····························································································································································";
}

.placeholder {
  height: 3rem;
}
</style>
