---
import Github from "../../../public/icons/stack/github.svg";
import Sepagian from "../../../public/sepagian.svg"

---

<header>
  <nav>
    <a href="/" aria-label="sepagian">
      <Sepagian/>
    </a>
    <a href="https://github.com/sepagian" target="_blank" rel="noopener" aria-label="Github Profile">
      <Github width={16} height={16}/>
    </a>
  </nav>
</header>
<style>
  header {
  margin: 0;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  display: inline-block;
  min-width: 3rem;
  font-weight: var(--font-weight-bold);
  color: var(--text-primary);
  text-decoration: none;
}
</style>
