---
import { themeConfig } from '@/config'
import ThemeToggle from '@/components/ui/ThemeToggle.astro'
import Github from "../../../public/icons/stack/github.svg"

---

<header>
  <nav>
    <a href="/">{themeConfig.site.title}</a>
    <a href="https://github.com/sepagian" target="_blank" rel="noopener">
      <Github class="size-4"/>
    </a>
  </nav>
</header>
<style>
  header {
    margin: 0;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header a {
    font-weight: var(--font-weight-bold);
    color: var(--text-primary);
    text-decoration: none;
    min-width: 3rem;
    display: inline-block;
  }
</style>
