---
import { themeConfig } from "@/config";
import Github from "../../../public/icons/stack/github.svg";

---

<header>
  <nav>
    <a href="/">{themeConfig.site.title}</a>
    <a href="https://github.com/sepagian" target="_blank" rel="noopener">
      <Github class="size-4" />
    </a>
  </nav>
</header>
<style>
  header {
  margin: 0;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  display: inline-block;
  min-width: 3rem;
  font-weight: var(--font-weight-bold);
  color: var(--text-primary);
  text-decoration: none;
}
</style>
