---
import { getCollection } from "astro:content";
import { SITE } from "@consts";
import Link from "@components/Link.astro";
import ArrowCard from "@components/ArrowCard.astro";

const notes = (await getCollection("notes"))
	.filter((post) => !post.data.draft)
	.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
	.slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);
---

<section class="animate space-y-6">
  <div class="flex flex-wrap gap-y-2 items-center justify-between">
    <h5 class="font-semibold text-black dark:text-white">
      Latest posts
    </h5> 
    <Link href="/notes">
      See all posts
    </Link>
  </div>
  <ul class="flex flex-col gap-4">
    {notes.map(note => (
      <li>
        <ArrowCard entry={note} />
      </li>
    ))}
  </ul>
</section>

